.member-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1a1a1a;
    transition: transform 0.2s;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.member-card:hover{
    transform: translateY(-5px);   
}

.member-img {
    position: relative;
    aspect-ratio: 2/3;
    width: 100%;
    cursor: pointer;
    height: 80%;
    overflow: hidden;
}

.member-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

/* Overlay effect */
.member-img::after {
    content: "";    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Initially transparent */
    transition: background 0.3s ease-in-out;
}

.member-img:hover::after {
    background: rgba(0, 0, 0, 0.4); /* Dark overlay on hover */
}

.member-info {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.member-info h3 {
    font-size: 2rem;
    margin: 0;
}

.member-info p {
    color: #999;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .member-card {
      font-size: 0.9rem;
    }
  
    .member-info {
      padding: 0.75rem;
    }
  }
